@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.cards_container {
    background-image: url('./../../Images/project_background_medium.jpg');
    height: fit-content;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cards_title {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    justify-content: center;
    /* padding: 50em; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    
}

.cards_title h1 {
    font-family: "Cabin Condensed", sans-serif;
}

/* .opacity_projects {
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4em;
} */

* {
    box-sizing: border-box;
  }
  
body {
    width: 100%;
    height: auto;
    /* background-color: #F8F8F8; */
}
.cards_container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .card_box {
    display: flex;
    justify-content: center;
    margin-bottom: -4rem;
    margin-top: -4rem;
    text-align: center;
    width: 100vw;
} */

.cards {
    width: 21em;
    height: auto;
    
}

.cards_title,
.cards_text {
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
}

.cards_text {
    height: 8vh;
}

.line {
    width: 60%;
    height: 1px;
    background-color: #44CFCB;
    border: none;
}

.technologies_title {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.technologies_title h4 {
    font-family: 'Roboto Slab';
    color: gray;
}

.card_content {
    font-family: 'Roboto Slab';
    display: flex;
}

.button_container {
    display: flex;
    justify-content: center;
}

.visit_button {
    width: 5rem;
    height: 2rem;
    background-color: #FFA000;
    font-family: 'Roboto Slab';
    border: none;
    border-radius: 5px;
    margin: 1rem;
    font-weight: 800;
    
}

.visit_button a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.project_hr {
    width:15em;
    height: 0.1em;
    color: #44CFCB;
    background-color: #44CFCB;
    border: none;
}

.technologies_used  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22em;
    height: 10em;
    background-color: rgb(255, 160, 0, 0.5);
    color: #000;
    border-radius: 2em;
    padding: 2em;
    transition: transform 0.15s ease-in-out;
}

.technologies_used:hover {
    transform: scale3d(1.05, 1.05, 1);
}

/* Media Queries */

@media only screen and (max-width: 620px) {
    .cards {
        width: 60vw;
        height: auto;
        /* padding: 0 1em; */
        margin: 0 2em;
        
    }
}