.footer_container {
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    border-top: 3px solid #86c5c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

small {
    font-family:'Raleway', sans-serif;
    font-size: 1rem;
}

.footer_container a {
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
    padding-top: 0.5em;
}